@using E_Commerce_Shared.Dto
@model CategoryDto

<form method="post">
<div class="row">
    <div class="form-outline">
        <input type="text" asp-for="@Model.Name" placeholder="CategoryName" />
    </div>
    <div class="mt-4">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</div>
</form>
